# Model checkpoints (too large for git)
*.pth

# outputs
results/
*.pkl

# Dataset
EWS-Dataset/

# Python
__pycache__/
*.pyc
*.pyo
venv/
*.egg-info/

# PBS logs
*.o*
*.e*
.DS_Store
EWS-Dataset.zip
*.pbs
